/*  */
body {
	font-family: "Raleway" !important;
}

/* buat nav */

/* nav {
	font-family: "Poppins";
	font-size: 22px;
} */
.navigasi {
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
	z-index: 5000;
}

#header {
	position: sticky;
	position: -webkit-sticky;
	top: 0px;
	transition: top 0.3s ease;
	background-color: white;
	-webkit-transition: top 0.3s ease;
	-moz-transition: top 0.3s ease;
	-ms-transition: top 0.3s ease;
	-o-transition: top 0.3s ease;
}

#header.show {
	top: -100px;
}

nav {
	height: 80px;
	background-color: white !important;
}

nav a {
	text-decoration: none;
}
nav .headd .teks h1 {
	color: #8dc64e;
	font-weight: 900;
	font-size: 24px;
}

nav .headd .logo img {
	width: 40px;
	height: 40px;
}

nav .nav-item a {
	font-size: 15px;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	color: #7b909a;
	line-height: 22.5px;
}

nav .kontak i {
	font-size: 27px;
	color: black;
}

.offcanvas-title {
	color: #8dc64e;
	font-weight: 900;
	font-size: 24px;
}

.offcanvas .logo img {
	width: 40px;
	height: 40px;
}

@media only screen and (max-width: 425px) {
	nav .headd .teks h1 {
		font-size: 16px;
	}
	nav .headd .logo img {
		width: 30px;
		height: 30px;
	}
}

/* Posisi dan styling tab list di bawah carousel */
.carousel-tabs {
	display: flex;
	justify-content: center;
	margin-top: 10px; /* Jarak antara carousel dan tab list */
}

.carousel-tabs button {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.6); /* Default inactive color */
	border: none;
	margin: 0 5px;
	cursor: pointer;
}

.carousel-tabs button.active {
	background-color: #000; /* Active color */
}

.carousel-tabs button:hover {
	background-color: rgba(0, 0, 0, 0.8); /* Hover color */
}

.carousel-item {
	position: relative;
}

.carousel-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: white;
}

.content-70,
.content-30 {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.content-70 {
	width: 70%;
}

.content-30 {
	width: 30%;
}

/* Hero section styles */
.tekshero {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 40px;
	padding-right: 40px;
}

.tekshero h1 {
	font-weight: 800;
	font-size: 70px;
	line-height: 80px;
	color: #29285e;
}

.tekshero .para {
	width: 600px;
}

.tekshero p {
	font-weight: 600;
	font-size: 24px;
	line-height: 34px;
	color: #ffff;
}

.tekshero .tombolhero {
	width: 260px;
	font-weight: 900;
	padding-left: 28px;
	padding-right: 28px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #8dc64e;
	text-decoration: none;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

.tekshero a {
	text-align: center;
	font-size: 16px;
	color: #ffffff !important;
	text-decoration: none !important;
}

.tekshero .tombolhero:hover {
	background-color: #29285e;
}

.tekshero .socproof {
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	color: #ffff;
}

.gambarhero {
	position: relative;
}

.gambarhero img .bunderan {
	right: 10px !important;
}

.gambarhero img {
	position: absolute;
	right: 150px;
}

.rumahsakit {
	position: relative;
}

.rumahsakit .rs img {
	width: 30px !important;
	height: 30px !important;
}

/* Responsive for smaller screens */
@media (max-width: 1254px) {
	.carousel-inner #imgcarousel {
		height: 100vh; /* Mengatur tinggi gambar carousel */
		object-fit: cover;
	}
	.carousel-content {
		flex-direction: column;
	}

	.content-70,
	.content-30 {
		width: 100%; /* Agar masing-masing konten mengisi lebar penuh */
	}

	.content-30 {
		order: 2; /* Agar content-30 berada di bawah content-70 */
		left: 0;
		bottom: 10vh;
	}

	.content-70 {
		order: 1; /* Agar content-70 berada di atas content-30 */
	}
}

@media (max-width: 768px) {
	.carousel-inner #imgcarousel {
		height: 100vh; /* Mengatur tinggi gambar carousel */
		object-fit: cover;
	}

	.tekshero h1 {
		font-size: 40px;
		line-height: 50px;
	}

	.tekshero p {
		font-size: 18px;
		line-height: 28px;
	}

	.tekshero .para {
		width: auto;
	}

	.tekshero .tombolhero {
		width: 200px;
		padding: 10px 20px;
		font-size: 14px;
	}

	.tekshero .socproof {
		font-size: 14px;
		line-height: 24px;
	}

	.gambarhero img {
		position: static;
		width: auto;
		height: auto;
	}
}

@media (max-width: 425px) {
	.carousel-inner #imgcarousel {
		height: 100vh; /* Mengatur tinggi gambar carousel */
		object-fit: cover;
	}

	.tekshero {
		padding: 20px;
	}

	.tekshero h1 {
		font-size: 30px;
		line-height: 40px;
	}

	.tekshero p {
		font-size: 16px;
		line-height: 24px;
	}

	.tekshero .tombolhero {
		width: 160px;
		padding: 8px 16px;
		font-size: 12px;
	}

	.tekshero .socproof {
		font-size: 12px;
		line-height: 20px;
	}

	.gambarhero img {
		position: relative;
		width: 40vh;
		height: auto;
		left: 0;
	}
}

/* NAVBAR HERO KELAR */

/* MULAI KONTEN */
.konten {
	padding-top: 28px;
	padding-bottom: 28px;
}

.konten h1 {
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	color: #000;
}

.konten p {
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	margin-top: 8px;
	color: #666666;
}

.title-konten {
	padding-top: 12px;
	padding-bottom: 12px;
}

.isi-konten1-teks {
	padding: 20px;
}

.isi-konten h5 {
	font-weight: 600;
	font-size: 24px;
	line-height: 34px;
	color: #000;
}

.isi-konten p {
	padding-top: 4px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #666666;
}

/* Default styles for larger screens */
.isi-konten1,
.isi-konten2 {
	justify-content: center;
	align-items: center;
	overflow: hidden; /* Prevent content from overflowing */
}

.isi-konten1 {
	margin-top: 12px;
}
.isi-konten2 {
	margin-top: 32px;
}

.isi-konten1 img,
.isi-konten2 img {
	max-width: 50%; /* Ensure images don't overflow */
	height: auto;
}

.isi-konten1-teks,
.isi-konten2-teks {
	padding: 20px;
	max-width: 50%;
	box-sizing: border-box; /* Ensure padding is included in element width */
}

.isi-konten p {
	padding-top: 4px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #666666;
	margin: 0; /* Remove default margin */
}

/* Responsive styles for medium screens */
@media (max-width: 992px) {
	.isi-konten1,
	.isi-konten2 {
		flex-direction: column; /* Stack content vertically */
		text-align: center; /* Center-align text for better readability */
	}

	.isi-konten1 img,
	.isi-konten2 img {
		max-width: 80%; /* Make images full width */
		height: auto;
		margin-bottom: 8px; /* Add margin for spacing */
	}

	.isi-konten1-teks,
	.isi-konten2-teks {
		max-width: 80%; /* Make text full width */
		padding: 12px; /* Add padding for spacing */
	}

	.isi-konten1-teks h5,
	.isi-konten2-teks h5 {
		font-size: 18px;
	}

	.isi-konten2 {
		flex-direction: column; /* Stack content vertically */
	}

	.isi-konten2-teks {
		order: 2; /* Ensure text is below the image */
	}

	.isi-konten2 img {
		order: 1; /* Ensure image is above the text */
		margin-bottom: 12px; /* Add margin for spacing */
	}
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
	.title-konten {
		padding: 18px;
	}

	.konten h1 {
		font-size: 36px;
		line-height: 46px;
	}

	.konten p {
		font-size: 16px;
		line-height: 24px;
		width: auto;
	}

	.isi-konten1,
	.isi-konten2 {
		height: auto; /* Adjust height to content */
		margin-bottom: 18px;
	}

	.isi-konten2 {
		flex-direction: column; /* Stack content vertically */
	}

	.isi-konten2-teks {
		order: 2; /* Ensure text is below the image */
	}

	.isi-konten2 img {
		order: 1; /* Ensure image is above the text */
		max-width: 80%; /* Make images full width */
	}
}

/* KELARRRR KOTENN */

/* SIMRS */
.simrs {
	padding-top: 28px;
	padding-bottom: 28px;
}

.simrs .row {
	margin-top: 24px;
}

.simrs-judul {
	padding-top: 12px;
	padding-bottom: 12px;
}

.simrs-judul h2 {
	font-size: 48px;
	line-height: 58px;
	font-weight: 700;
	color: #29285e;
	width: 100%;
}

.simrs-judul h3 {
	font-size: 48px;
	line-height: 58px;
	font-weight: 300;
	color: #666666;
	text-align: end;
}

.simrs-judul p {
	font-size: 16px;
	line-height: 26px;
	font-weight: 300;
	color: #666666;
	text-align: end;
	width: 80%;
}

.simrs-konten {
	padding-top: 12px;
	padding-bottom: 12px;
}

.simrsk1 {
	background-color: rgb(216, 211, 0, 0.1);
}

.simrsk1 h5 {
	color: #00b1aa;
	font-size: 48px;
	line-height: 58px;
	font-weight: 600;
	text-align: center;
}

.simrsk1 p {
	color: #00b1aa;
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
	text-align: center;
}

.simrsk1 .box {
	height: auto;
	margin: 50px;
}

.simrs .boximg {
	width: 60%;
	height: auto;
}

.simrs .boximg img {
	width: 100%;
	height: 100%;
}

@media (max-width: 1200px) {
	.simrs-judul h2 {
		font-size: 36px;
	}

	.simrs-judul h3 {
		font-size: 36px;
	}

	.simrs-judul p {
		font-size: 14px;
	}

	.simrsk1 h5 {
		font-size: 36px;
	}

	.simrsk1 p {
		font-size: 14px;
	}

	.simrsk1 .box {
		margin: 10px;
	}
}

@media (max-width: 767px) {
	.simrs .boximg {
		width: 30%;
	}
}

/* simrs1 kelar */

/* simrs2 */

.simrsk2 .row {
	padding: 8px;
}

.simrsk2 .box {
	overflow: hidden;
	width: 100%;
	height: 100px;
	padding: 6px;
	background-color: rgba(0, 177, 170, 0.15);
	margin-top: 12px;
	margin-bottom: 12px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.simrsk2 .box:hover {
	background-color: rgba(0, 177, 170, 0.3);
	white-space: normal;
	overflow: auto;
}

.simrsk2 .box h2 {
	font-size: 18px;
	font-weight: 600;
	line-height: 30px;
	color: #00b1aa;
	margin: 0;
}
.simrsk2 .box p {
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
	color: #00b1aa;
	margin: 0;
	width: 100%;
}
.box .foto {
	padding: 8px;
	width: auto;
}

.simrs2 .box .teks {
	margin: 8px;
	width: 100%;
}

.simrs2 .box .teks p {
	max-width: 70%;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: 0.3s;
}
.simrs2 .box .teks h2 {
	max-width: 70%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: 0.3s;
}

@media (max-width: 1200px) {
	.simrsk2 .baris h2 {
		font-size: 16px;
	}

	.simrsk2 .baris p {
		font-size: 10px;
	}

	.simrsk2 .baris .box {
		width: 100%;
	}

	.box .foto {
		width: 80px;
	}
}
